body {
  background: url(../public/image/back.jpg) no-repeat center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 글꼴 */
@font-face {
  font-family: "YeongdeokSea";
  src: url("./font/Yeongdeok+Sea.ttf");
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "YeongdeokSea";
}
p {
  font-family: 'S-CoreDream-3Light';
}

/* RGB */
:root {
  --main-color: #636ecd;
  --sub-color: #ffe55c;
  --third-color: #C8E4D8; 
}

/* 버튼 스타일 통일*/
button {
  border: 0;
  border-radius: 20px;
  font-family: 'S-CoreDream-3Light';
  font-weight: 900;
  background-color: #ffe55c;
  color: grey;
  /* font-size: 3vh; */
}
button:hover {
  background-color: white;
  color: #ffe55c;
  cursor: pointer;
}

