.diaryItem {
  width: 100vh;
  margin: 0 auto;
  text-align: left;
  background-color: gainsboro;
  padding: 5vh;
  border-radius: 20px;
  margin-bottom: 5vh;
}
.item-button button{
  margin-right: 10px;
}