/* 배경 */
body {
  background: url(../../public/image/back.jpg) no-repeat center;
}
.main-box {
  text-align: center;
}

/* 메인 로고 */
.main-box-logo h1 {
  font-family: "YeongdeokSea";
  color: #fff7e3;
  font-size: 12vh;
  margin-top: 30vh;
}

/* 일기쓰기 버튼 */
.main-box-button button {
  width: 40vh;
  height: 8vh;
  border: 0;
  border-radius: 20px;
  font-family: 'S-CoreDream-3Light';
  font-size: 3vh;
  font-weight: 900;
  background-color: #ffe55c;
  color: grey;
}
.main-box-button button:hover {
  background-color: white;
  color: #ffe55c;
  cursor: pointer;
}


/* 인용구 */
.quote-box {
  margin-top: 8vh;
}
.quote-box p {
  font-size: 4vh;
  font-family: "YeongdeokSea";
  color: var(--third-color);
}

/* .footer {
  display: none;
} */